<f:if condition="{addresses}">
	<ul class="autocompletioncontainer"
			style="position: absolute; background: #eee; border: 3px solid #888;">
		<f:for each="{addresses}" as="address">
			<li>{address.title}</li>
		</f:for>
	</ul>
</f:if>