{namespace address=In2code\Address\ViewHelpers}



<h2>
	<address:Crop string="{address.title}" length="5" />
</h2>
{address.street}<br />
{address.zip}<br />
{address.city}<br />
{address.country}<br />
{address.category.title}<br />
<ul>
	<f:for each="{address.category2}" as="category2">
		<li>
			{category2.title}
		</li>
	</f:for>
</ul>

<f:image
		alt="{f:translate(key:'picture')}"
		title="{f:translate(key:'picture')}"
		src="fileadmin/user_upload/ironman.jpg"
		width="100c"
		height="100c" />
