<f:flashMessages />

<f:render partial="Form/ValidationResults" arguments="{_all}" />

<f:form action="update" name="address" object="{address}">
	<f:render partial="Form/Fields" arguments="{_all}" />

	<f:form.submit value="Datensatz jetzt ändern" />
</f:form>