<f:layout name="Default" />

	Das ist die Listenansicht
	{addresses} Alle Addressen
	{settings} TypoScript / FlexForm


<f:section name="main">
	<f:flashMessages />

	<f:render partial="Form/ValidationResults" arguments="{_all}" />

	<f:render partial="Filter" arguments="{_all}" />

	<f:render partial="List" arguments="{_all}" />

	<f:link.action action="new">Neue Adresse hinzufügen</f:link.action>
</f:section>
