<f:layout name="Default" />

	Das ist die Listenansicht
	{addresses} Alle Addressen
	{settings} TypoScript / FlexForm


<f:section name="main">
	<f:render partial="List" arguments="{_all}" />
</f:section>
