<f:flashMessages />

<f:render partial="Form/ValidationResults" arguments="{_all}" />


<f:form action="create" name="address">
	<f:render partial="Form/Fields" arguments="{_all}" />

	<f:form.submit value="Neue Adrese anlegen" />
</f:form>