<f:form additionalAttributes="{autocomplete: 'off'}">
	<label for="sword">Suche:</label>
	<f:form.textfield
			name="sword"
			id="sword"
			value="{sword}"
			additionalAttributes="{data-autocompletion: 1}" />

	<f:form.submit value="Jetzt suchen..." />
</f:form>