<ul class="{settings.style}">
	<f:for each="{addresses}" as="address">
		<li>
			{address.title}
			<f:link.action action="detail" arguments="{address:address}">Detail</f:link.action>
			<f:link.action action="edit" arguments="{address:address}">Edit</f:link.action>
		</li>
	</f:for>
</ul>