<div>
	<label for="title">
		Title
	</label>
	<f:form.textfield property="title" id="title" />
</div>

<div>
	<label for="zip">
		ZIP
	</label>
	<f:form.textfield property="zip" id="zip" />
</div>

<div>
	<label for="city">
		City
	</label>
	<f:form.textfield property="city" id="city" />
</div>

<div>
	<label for="country">
		Country
	</label>
	<f:form.textfield property="country" id="country" />
</div>

<div>
	<label for="street">
		Street
	</label>
	<f:form.textfield property="street" id="street" />
</div>