<f:form.validationResults>
	<f:for each="{validationResults.flattenedErrors}" as="errors">
		<f:for each="{errors}" as="error">
			{error.code}<br />
			{error.message}
		</f:for>
	</f:for>
</f:form.validationResults>